.list:hover {
	background-color: rgba(96, 125, 139, 0.3);
}

#zentriert {
	text-align: center;
}

.right {
	text-align: right;
}

.green {
	color: rgba(76, 175, 80, 0.7);
}

.pink {
	color: rgba(233, 30, 99, 0.5);
}

.blue {
	color: rgba(0, 188, 212, 0.7);
}

.darkblue {
	color: #0288d1;
}

.orange {
	color: #f57c00;
}

.grey {
	color: rgba(96, 125, 139, 0.7);
}

.darkgreen {
	color: rgba(0, 150, 136, 0.7) ;
}

.border {
    display: inline-block;
    width: 400px;
    height: 150px;
    margin: 15px;
	border-radius: 5px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	background-color: rgba(0, 188, 212, 0.05);
}

.border2 {
    display: inline-block;
    width: 600px;
    height: 200px;
    margin: 5px;
	border-radius: 5px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	background-color: rgba(0, 188, 212, 0.05);
}


.border3 {
    display: inline-block;
    width: 500px;
    height: 80px;
    margin: 5px;
	border-radius: 5px;
	padding-top: 25px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgba(0, 188, 212, 0.05);
}

.button {
	background-color: none;
	border: none;
}

.pointer {
	cursor: pointer;
}

.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content-item {
	 color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-item:hover {
	background-color: #ddd;
}